@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-display: swap;
    font-family: HDar;
    src: url('../fonts/HDar-Light.eot');
    src:
        url('../fonts/HDar-Light.eot') format("embedded-opentype"),
        url('../fonts/HDar-Light.woff') format("woff"),
        url('../fonts/HDar-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-display: swap;
    font-family: HDar;
    src: url('../fonts/HDar-Regular.eot');
    src:
        url('../fonts/HDar-Regular.eot') format("embedded-opentype"),
        url('../fonts/HDar-Regular.woff') format("woff"),
        url('../fonts/HDar-Regular.ttf') format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-display: swap;
    font-family: HDar;
    src: url('../fonts/bold700/HDar-Bold.eot');
    src:
        url('../fonts/bold700/HDar-Bold.eot') format("embedded-opentype"),
        url('../fonts/bold700/HDar-Bold.woff') format("woff"),
        url('../fonts/bold700/HDar-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-display: swap;
    font-family: HDar;
    src: url('../fonts/HDar-Black.eot');
    src:
        url('../fonts/HDar-Black.eot') format("embedded-opentype"),
        url('../fonts/HDar-Black.woff') format("woff"),
        url('../fonts/HDar-Black.ttf') format("truetype");
    font-weight: 900;
    font-style: normal
}

/*
أسماء الخطوط لو أردت استدعاها  
جميع الاوزان من 100 إلى 900
font-family: 'Aref Ruqaa', serif;
font-family: 'Cairo', sans-serif;
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Tajawal', sans-serif;
font-family: 'Vazirmatn', sans-serif;

الاوزان = 300,500,700,900
font-family: HDar, sans-serif;
*/